<!DOCTYPE html>
<html>
<head>
  <title>ELIM PENTECOSTAL CHURCH - KAWANDA</title>
  
</head>
<body>
<link href="web.css" type="text/css" rel="stylesheet">

<table  border="1" width="1250" height="30" align="center"> 

		<tr>
			<td>
				<%= link_to "Home", root_path%>
				 	
			</td>
			<td>
				<%= link_to "About", web_About_path%>
				
			</td>
			<td>
				<%= link_to "Contact", web_Contact_path%>
				
			</td>
			<td>
				<%= link_to "Events", web_Events_path%>
				
			</td>
			<td>
				<%= link_to "Blog", web_Blog_path%>
				
			</td>
			<td>
				<%= link_to "Activities", web_Activities_path%>
			
			</td>
				
			<tr>
			<td colspan="7" align="center" height="300">
				
				<img src ="/photo/photo.png">	
			</td>
			</tr>
			<tr align="center" colspan="7" height="150">
					<td> <p><img src = "/photo/photo.png"></p>Jonah</td>
					<td> <p><img src = "/photo/photo.png"></p>Joseph </td>
					<td> <p><img src = "/photo/photo.png"></p>Jacob</td>
					<td> <p><img src = "/photo/photo.png"></p>John</td>
					<td> <p><img src = "/photo/photo.png"></p>James</td>
					<td> <p><img src = "/photo/photo.png"></p>Joel</td>
			</tr>
			</tr>
			<tr  height="100">
			<td colspan="7"></td>	
			</tr>

		</tr>
		
			
		</tr>
	</table>
<h2> For any related sites, go to this link <a href="http://www.google.com">Google <a href="http://www.facebook.com">Facebook <a href="http://www.twitter.com">Twitter <a href="http://www.yahoo.com">Yahoo </a></h2>
<%= yield %>

</body>

</html>
